{% extends "base.html" %}
{% block content %}
<div class="page-header">
<h3 class="page-title"> Historical Data Of {{domain}}</h3>
<div class="float-right">
<form action="{{url_for('history')}}",method="GET">
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="search" autocomplete="off"/>
    <button type="submit" class="btn btn-outline-primary">search</button>
  </div>
</form>
</div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Historical Data Table</h4>
      <div class="table-responsive">
    {% for table in tables %}             
        {{ table|safe }}
    {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
