{% extends "base.html" %}
{% block content %}
<div class="page-header">
<h3 class="page-title"> Probing Of Subdomains </h3>
</div>
<div class="row">
</div>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Probing Status</h4>
        <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Status', 'Urls'],
          ['Dead',     {{Dead}}],
          ['Live',      {{Live}}]
          ]);
        var options = {
          backgroundColor: 'transparent',
          legend: {
          textStyle: { color: 'white' }
                  }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
        </script>
        </head>
        <body>
            <div id="piechart" style="width: 900px; height: 500px;"></div>
        </body>
      </div>
    </div>
</div>
<div class="page-header">
  <h3 class="page-title"> Probing Table </h3>
</div>
<div class="col-lg-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        {% for table in tables %}    
          {{ table|safe }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
