{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card corona-gradient-card">
      <div class="card-body py-0 px-0 px-sm-3">
        <div class="row align-items-center">
          <div class="col-4 col-sm-3 col-xl-2">
            <img src="assets/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
          </div>
          <div class="col-5 col-sm-7 col-xl-8 p-0">
            <h4 class="mb-1 mb-sm-0">Welcome to ReconMaster !</h4>
            <!--<p class="mb-0 font-weight-normal d-none d-sm-block">ReconMaster is a Reconnamace enumeration tool. it will automate the gathering, analyzing, and representing information based on the target. generally, for each task, we have to run multiple tools and scripts manually, this tool will reduce all manual work, also make it efficient. These tools will also find bugs based on information gathered. This tool includes many modules on which a user can get information, some of them are as follows subdomain, Dorking, directory enum, port scanning, acquisition, subdomain takeovers, etc. the main motive of the tool is to reduce time and efforts of the pentesters and give full pakage of tools at one place.</p>-->
          </div>
        </div>
    </div>
      </div>
    </div>
  </div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
        <h4 class="card-title">About Us</h4>
        </p>
        <p>ReconMaster is a Reconnamace enumeration tool. it will automate the gathering, analyzing, and representing information based on the target. generally, for each task, we have to run multiple tools and scripts manually, this tool will reduce all manual work, also make it efficient. These tools will also find bugs based on information gathered. This tool includes many modules on which a user can get information, some of them are as follows subdomain, Dorking, directory enum, port scanning, acquisition, subdomain takeovers, etc. the main motive of the tool is to reduce time and efforts of the pentesters and give full pakage of tools at one place.</p>  
        <img src="assets/images/dashboard/main.jpg" style="width: 850px; height: 450px"; alt="">
      </div>
        <div class="table-responsive">
        </div>
      </div>
      </div>
    </div>
{% endblock %}
